<form action="/tasks" method="GET">
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-tag"></i></span>
        <input type="text" name="title" value="{{ query.title }}" class="form-control" placeholder="Enter task title...">
        <span class="input-group-text"><i class="fa fa-globe"></i></span>
        <input type="text" name="address" value="{{ query.address }}" class="form-control g-places-finder" placeholder="Enter address...">
        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
    </div>

    <input type="hidden" name="lat" value="{{ query.lat }}" />
    <input type="hidden" name="lng" value="{{ query.lng }}" />
</form>

<div class="row">
    {{#each tasks as |task|}}
        <div class="col-3">
            <div class="card mb-4">
                <img src="{{task.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text">
                        <a href="/users/{{task.author.id}}">
                            @{{task.author.name}}
                        </a>
                    </p>
                    {{#if ...currentUser.admin}}
                        <a href="tasks/{{task.id}}" class="btn btn-primary">See detail</a>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>